/* Import Responsive Media Queries */
@import url("media.css");

/* Import Web Fonts */
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,300,700");

/* Create a normal font family with readily colors on the body */
body {
    color: #000;
    background-color: #F2F2F2;
    font-family: 'Quicksand', sans-serif;
}

    a {
        color: #9a2617;
        text-decoration: none;
    }

    a:hover {
        color: #ee7727;
    }

    /* Make the inner container full width */
    #inner-container {
        background-color: #F2F2F2;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        min-height: 50px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        padding-top: 0.2em;        
    }

        #header {
            width: 100%;
            padding-top: 1em;
            padding-bottom: 1em;
            box-shadow: 0 4px 2px -2px rgba(208,72,46, 1);    
            height: auto;   
            background-color: white;                                  
        }
            
            #header-logo {
                background: url(./images/logo_header.png) no-repeat top left;
                height: 100%;
                display: inline-block;
                margin-right: 2em;
                min-height: 4.5em;
            }
            
            #header-navigation {
                width: 55%;
                top: auto;
                left: auto;
            }

                #header #header-navigation div {
                    padding: 3px !important;
                }
                #header-navigation a {
                    color: #9a2617;
                    text-decoration: none;
                    margin-left: 0.5em;
                    margin-right: 0.5em;
                }

                #header-navigation a:hover {
                    color: #ee7727;
                }

            #id-shop-login-form { display: none; }
            #account-container {
                display: none !important;
            }

        #middle div {
            display: none !important;
        }
        #middle #left-column {
            width: 100% !important;
            display: block !important;
            padding-bottom: 10em;
        }

            #middle #left-column div {
                display: none !important;
            }

                #middle #left-column #content-area {
                    display: block !important;
                    width: 100%                    
                }

                    #middle #left-column #content-area .lobby-panel {
                        display: block !important;
                        width: 100%;
                        margin: 0;
                        padding: 0;
                    }

                        #middle #left-column #content-area .lobby-panel table {
                            font-size: 1vw;
                            color: #000;
                            padding: 0;
                            width: 70%;
                        }

                            #middle #left-column #content-area .lobby-panel table a {
                                color: #EE7727;
                                text-decoration: none;
                            }

                            #middle #left-column #content-area .lobby-panel table a:hover {
                                color: #EE7727;
                            }

                            #middle #left-column #content-area .lobby-panel table th {
                                margin: 0;
                                padding: 0;
                                text-align: left;
                                width: 25%;
                                line-height: 1.6em;
                                padding-left: 3em;
                            }

                            #middle #left-column #content-area .lobby-panel table tr {
                                margin: 0;
                                padding: 0;
                                line-height: 1.6em;
                            }

                            #middle #left-column #content-area .lobby-panel table td {
                                margin: 0;
                                padding: 0;
                                text-align: left;
                                width: 100%;
                                line-height: 1.6em;
                            }

                        #middle #left-column #content-area .lobby-panel table .advice-message {
                            display: block !important;
                        }

                        #middle #left-column #content-area .lobby-panel h1 {
                            margin-top: 2em;
                            margin-bottom: 1em;
                        }

                            #middle #left-column #content-area .lobby-panel h1 a {
                                color: #ee7727;
                                text-decoration: none;
                            }

                            #middle #left-column #content-area .lobby-panel h1 a:hover {
                                color: #ee7727;
                                text-decoration: none;
                            }

                        #middle #left-column #content-area .lobby-panel p {
                            text-align: left;
                        }

                            #middle #left-column #content-area .lobby-panel p a {
                                color: #FAB048;
                                text-decoration: none;
                                font-weight: normal;
                                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                                font-size: 14px;
                                line-height: 1.42857;
                            }

                            #middle #left-column #content-area .lobby-panel p a:hover {
                                color: #ee7727;
                            }

                        #middle #left-column #content-area .lobby-panel form {
                            float: left;
                            width: 100%;
                        }

                #middle #left-column #content-area #resource-bar {
                    background-color: #D9EDF7;
                    border-color: #bce8f1;
                    border: 1px solid transparent;
                    width: 100%;
                    margin-bottom: 20px;
                    border-radius: 4px;
                    padding: 0.5em 2em;
                    display: inline-block;
                    color: rgb(0, 0, 0);
                }

                    #middle #left-column #content-area #resource-bar thead {
                        width: 100%;
                        display: inline-block;
                    }

                        #middle #left-column #content-area #resource-bar thead tr {
                            width: 100%;
                            display: inline-block;
                        }

                    #middle #left-column #content-area #resource-bar tbody {
                        width: 100%;
                        display: inline-block;
                    }

                        #middle #left-column #content-area #resource-bar tbody {
                            width: 100%;
                            display: inline-block;
                        }

                #middle #left-column #content-area #game-navigation {
                    display: block !important;
                    width: 100%;
                    position: fixed;
                    bottom: 0px;
                    right: 0;
                    left: 0;
                    text-align: left;
                    background-color: white;
                    height: auto;
                    padding-left: 1em;
                    padding-top: 0.5em;
                    z-index: 9999999;
                    background-image: url("http://www.datadelen.com/design/standard_design/images/background_footer.jpg");
                }

                    #middle #left-column #content-area #game-navigation .current-date {
                        color: #000;
                        font-weight: 700;
                        font-size: 16px;
                        margin-right: 0.5em;
                        position: absolute;
                        color: wheat;
                        left: 50%;
                        right: 0px;
                    } 

                    #middle #left-column #content-area #game-navigation div {
                        display: inline-block !important;
                    }   

                        #middle #left-column #content-area #game-navigation div a {
                            color: #FAB048;
                            text-decoration: none;
                            font-size: 16px;
                            margin-left: 0.2em;
                            margin-right: 0.2em;
                        }

                        #middle #left-column #content-area #game-navigation div a:hover {
                            color: #ee7727;
                        }

                #middle #left-column #content-area .game-header {
                    display: block !important;
                    width: 100%;
                    border-bottom: 1px solid #DDD;
                }

                    #middle #left-column #content-area .game-header h1 {
                        color: #7b7354;
                        font-size: 22px;
                        margin-left: 0.4em;
                        margin-right: 0.4em;
                        font-weight: normal;
                    }

                    #middle #left-column #content-area .game-header a {
                        color: #9a2617;
                        text-decoration: none;
                        font-size: 22px;
                        margin-left: 0.4em;
                        margin-right: 0.4em;
                    }

                        #middle #left-column #content-area .game-header a h1 {
                            color: #9a2617;
                            font-size: 22px;
                            margin-left: 0.4em;
                            margin-right: 0.4em;
                            font-weight: normal;
                        }

                    #middle #left-column #content-area .game-header a:hover {
                        color: #ee7727;
                    }

                        #middle #left-column #content-area .game-header a h1:hover {
                            color: #ee7727;
                        }

                #middle #left-column #content-area .game-content {
                    display: block !important;
                    width: 100%;
                    text-align: left;
                    margin-top: 1em;
                }

                    #middle #left-column #content-area .game-content h2 {
                        font-size: 15px;
                        font-weight: normal;
                        padding: 0.5em 0.5em 0.5em 0.5em;
                        background-color: #dff0d8;
                        border: 1px solid transparent;
                        width: 100%;
                        margin-bottom: 20px;
                        border-radius: 4px;
                        padding: 0.5em 0.5em 0.5em 0.5em;
                        display: inline-block;
                        color: rgb(0, 0, 0);
                        border-color: #d6e9c6;
                    }

                    #middle #left-column #content-area .game-content #throne-monarch-message {
                        background-color: #fcf8e3;
                        border: 1px solid transparent;
                        width: 100%;
                        margin-bottom: 20px;
                        border-radius: 4px;
                        padding: 0.5em 0.5em 0.5em 0.5em;
                        display: inline-block;
                        color: rgb(0, 0, 0);
                        border-color: #faebcc;
                    }

                        #middle #left-column #content-area .game-content #throne-monarch-message h2 {
                            display: none !important;
                        }

                        #middle #left-column #content-area .game-content #throne-monarch-message p {
                            font-size: 14px;
                            margin: 0;
                            padding: 0;
                            text-align: left;
                            padding-right: 1.5em;
                            padding-left: 1.5em;
                        }

                            #middle #left-column #content-area .game-content #throne-monarch-message p br {
                                display: none;
                            }

                    #middle #left-column #content-area .game-content p {
                        font-size: 0px;
                        margin: 0;
                        padding: 0;
                        text-align: left;
                    }

                        #middle #left-column #content-area .game-content p a {
                            color: #9a2617;
                            text-decoration: none;
                            font-size: 14px;
                            text-transform: capitalize;
                            margin-right: 3em;
                            text-align: left;
                        }

                        #middle #left-column #content-area .game-content p a:hover {
                            color: #ee7727;
                        }

                    #middle #left-column #content-area .game-content div {
                        display: block !important;
                        width: 100%;
                    }

                    #middle #left-column #content-area .game-content table {
                        display: block !important;
                        width: 100%;
                        text-align: left;
                        font-size: 16px;
                        margin: 0;
                        padding: 0.5em 0.5em 0.5em 0.5em;
                        background-color: #fff;
                        border: 1px solid transparent;
                        margin-bottom: 20px;
                        border-radius: 4px;
                        color: rgb(0, 0, 0);
                        border-color: #faebcc;        
                        padding-left: 4em;                
                    }

                      #middle #left-column #content-area .game-content table thead th {
                            width: 3em;
                       }

                       #middle #left-column #content-area .game-content table thead td:first-child {
                            width: 10%;
                       }

                       #middle #left-column #content-area .game-content table thead tr th {
                            font-weight: 700;
                        }

                        #middle #left-column #content-area .game-content table th {
                            text-align: left;
                            margin: 0;
                            padding: 0;
                            border-bottom: 1px dotted #000;
                            padding-left: 0.5em;
                        }

                        #middle #left-column #content-area .game-content table td {
                            border-bottom: 1px dotted #000;
                            padding-left: 0.5em;
                        }

                       #middle #left-column #content-area .game-content table .even {
                            background-color: #eeeeee;
                        }

                       #middle #left-column #content-area .game-content table thead th {
                            width: 15%;
                       }

                       #middle #left-column #content-area .game-content table thead th:first-child {
                            width: 20%;
                       }

                        #middle #left-column #content-area .game-content table.two-column-stats th {
                            width: 20%;
                            text-align: left;
                            margin: 0;
                            padding: 0;
                            border-bottom: 1px dotted #000;
                        }

                        #middle #left-column #content-area .game-content table.two-column-stats td {
                            border-bottom: 1px dotted #000;
                        }

                        #middle #left-column #content-area .game-content table.three-column-stats thead tr th {
                            font-weight: 700;
                        }

                        #middle #left-column #content-area .game-content table.three-column-stats th {
                            text-align: left;
                            margin: 0;
                            padding: 0;
                            border-bottom: 1px dotted #000;
                        }

                        #middle #left-column #content-area .game-content table.three-column-stats td {
                            border-bottom: 1px dotted #000;
                        }

                       #middle #left-column #content-area .game-content table.math-table thead th {
                            width: 15%;
                       }

                       #middle #left-column #content-area .game-content table.math-table thead th:first-child {
                            width: 20%;
                       }

                       #middle #left-column #content-area .game-content table.math-table thead tr th {
                            font-weight: 700;
                        }

                        #middle #left-column #content-area .game-content table.math-table th {
                            text-align: left;
                            margin: 0;
                            padding: 0;
                            border-bottom: 1px dotted #000;
                        }

                        #middle #left-column #content-area .game-content table.math-table .sub-total {
                            background-color: #eeeeee;
                        }

                        #middle #left-column #content-area .game-content table.math-table .sub-total th:first-child {
                            font-weight: 700;
                            padding-left: 0.5em;
                        }

                        #middle #left-column #content-area .game-content table.math-table td {
                            border-bottom: 1px dotted #000;
                        }

                       #middle #left-column #content-area .game-content table.data thead th {
                            width: 25%;
                       }

                       #middle #left-column #content-area .game-content table.data thead td:first-child {
                            width: 20%;
                       }

                       #middle #left-column #content-area .game-content table.data thead th:first-child {
                            width: 20%;
                       }

                       #middle #left-column #content-area .game-content table.data thead tr th {
                            font-weight: 700;
                        }

                        #middle #left-column #content-area .game-content table.data th {
                            text-align: left;
                            margin: 0;
                            padding: 0;
                            border-bottom: 1px dotted #000;
                            padding-left: 0.5em;
                        }

                        #middle #left-column #content-area .game-content table.data td {
                            border-bottom: 1px dotted #000;
                            padding-left: 0.5em;
                        }

                       #middle #left-column #content-area .game-content table.data .even {
                            background-color: #eeeeee;
                        }

                       #middle #left-column #content-area .game-content table.schedule thead th {
                            width: 3em;
                       }

                       #middle #left-column #content-area .game-content table.schedule thead td:first-child {
                            width: 15%;
                       }

                       #middle #left-column #content-area .game-content table.schedule thead tr th {
                            font-weight: 700;
                        }

                        #middle #left-column #content-area .game-content table.schedule th {
                            text-align: left;
                            margin: 0;
                            padding: 0;
                            border-bottom: 1px dotted #000;
                            padding-left: 0.5em;
                        }

                        #middle #left-column #content-area .game-content table.schedule td {
                            border-bottom: 1px dotted #000;
                            padding-left: 0.5em;
                        }

                       #middle #left-column #content-area .game-content table.schedule .even {
                            background-color: #eeeeee;
                        }


                      #middle #left-column #content-area .game-content table.tablesorter thead th {
                            width: 12em;
                      }

                       #middle #left-column #content-area .game-content table.tablesorter thead th:first-child {
                            width: 5%;
                       }

                       #middle #left-column #content-area .game-content table.tablesorter thead th:first-child + th {
                            width: 16em;
                       }



                       #middle #left-column #content-area .game-content table.tablesorter thead tr th {
                            font-weight: 700;
                        }

                        #middle #left-column #content-area .game-content table.tablesorter th {
                            text-align: left;
                            margin: 0;
                            padding: 0;
                            border-bottom: 1px dotted #000;
                            padding-left: 0.5em;
                            font-size: 14px;
                        }

                        #middle #left-column #content-area .game-content table.tablesorter td {
                            border-bottom: 1px dotted #000;
                            padding-left: 0.5em;
                            font-size: 14px;
                        }

                       #middle #left-column #content-area .game-content table.tablesorter tr:nth-child(even) { background: #eeeeee; } {
                            background-color: #eeeeee;
                        }


        
        
        .advice-message { display: none !important; }
        .warning { display: none !important; }

        #right-column { display: none !important; }
        
        #adunit { display: none !important; }
        #footer { display: none !important; }
        #recruitment-chat { display: none !important; }
        #upoopu_extension { z-index: 99999; }

h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 33px;
}
h3 {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 22px;
}
p {
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 21px;
}
blockquote {
	font-family: 'Quicksand', sans-serif;
	font-size: 21px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 31.5px;
}
pre {
	font-family: Times;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 19.5px;
}