/* Import Responsive Media Queries */
@import url("media.css");

/* Create a normal font family with readily colors on the body */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
}

    /* Make the inner container full width */
    #inner-container {
        background-color: #f8f8f8;
        top: 0;
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        min-height: 50px;
        width: 100%;
        margin: 0px;
        padding: 0px;
        padding-top: 0.2em;        
    }

        #header {
            margin-right: auto;
            margin-left: auto;   
            box-shadow: 0 4px 2px -2px rgba(208,72,46, 1);                               
        }
            
            #header-logo {
                background: url(./images/logo_header.png) no-repeat top left;
                height: 100%;
                display: inline-block;
            }
            
            #header-navigation {
                width: 50%;
                top: auto;
                left: auto;
            }

                #header-navigation a {
                    color: #7b7354;
                    text-decoration: none;
                }

                #header-navigation a:hover {
                    color: #000;
                }

            #id-shop-login-form { display: none; }
            #account-container {
                display: inline-block;
                width: 10%;
                color: #7b7354;
                right: auto;
                top: auto;
                position: inherit;
            }

                #account-header div {
                    float: none;
                    clear: both;
                    margin-right: 10em;
                }

                #account-details {
                    position: inherit !important;
                    clear: both;
                }

        div:has(ins) {
            display: none !important;
        }

        #aswift_0_expand {
            display: none !important;
        }

        #content-area {
            width: 100%;
        }

            #game-navigation {
                margin: 0 auto;
                margin-left: auto;
                margin-right: auto;
            }
